{{!-- <h1>FAIL</h1>
<a href="/auth/facebook">Facebook<i id="fb"class="fa fa-4x fa-facebook-square" aria-hidden="true" style="color:darkblue"></i></a>
<a href="/auth/google">Google<i id="gl"class="fa fa-4x fa-facebook-square" aria-hidden="true" style="color:darkblue"></i></a>
 --}}
<div class="section">
	<div id="main-content" class="container">
		<div class="row">
			<div class="col m12">
				<div class="questions">
					<div id="1">Running low on groceries?</div>
					<div id="2">Can't figure out what to cook?</div>
					<div id="3">We're here to help!</div>
					<div id="4"><a id="mainSubmit" class="enterButton firebrick btn-large" type="submit" href="#signUpModal">Enter</a></div>
				</div>
			</div>
		</div>
	</div> <!-- end main content -->

	<!-- SIGN UP MODAL -->
	<div id="signUpModal" class="modal">
		<div class="modal-content">
			<a href="/auth/facebook"><h2 class="loginFB">LOG IN USING:</h2></a>

			<a id="mainSubmit" class="enterButton firebrick btn fb-btn" type="submit" href="pantry.html">Enter</a>
		</div>
	</div>
</div>