{{!-- FORM CONTENT --}}
<div class="section">
	<div class="container center pantry-content">
		<h1 class="pantry-content-h1">What's in your pantry?</h1>
		<hr>	
		{{!-- HEADERS --}}
		<div class="row">
			<div class="col m3 s12"><h4>Protein</h4></div>
			<div class="col m3 s12"><h4>Produce</h4></div>
			<div class="col m3 s12"><h4>Dairy</h4></div>
			<div class="col m3 s12"><h4>Grains</h4></div>
		</div>
		{{!-- ROWS OF INPUT FIELDS --}}
		<div class="row">
			<div class="col m3 s12 col-pad">
				<div class="row"><input id="protein_one" type="text" class="validate"></div>
				<div class="row"><input id="protein_two" type="text" class="validate"></div>
				<div class="row"><input id="protein_three" type="text" class="validate"></div>
			</div>
			<div class="col m3 s12 col-pad">
				<div class="row"><input id="produce_one" type="text" class="validate"></div>
				<div class="row"><input id="produce_two" type="text" class="validate"></div>
				<div class="row"><input id="produce_three" type="text" class="validate"></div>
			</div>
			<div class="col m3 s12 col-pad">
				<div class="row"><input id="dairy_one" type="text" class="validate"></div>
				<div class="row"><input id="dairy_two" type="text" class="validate"></div>
				<div class="row"><input id="dairy_three" type="text" class="validate"></div>
			</div>
			<div class="col m3 s12 col-pad">
				<div class="row"><input id="grains_one" type="text" class="validate"></div>
				<div class="row"><input id="grains_two" type="text" class="validate"></div>
				<div class="row"><input id="grains_three" type="text" class="validate"></div>
			</div>
			<div class="row">
				<div class="col m12 s12">
					<a id="pantry-submit" class="enterButton firebrick btn-large" type="submit" href="#">Enter</a>
				</div>
			</div>

		</div>

{{!-- 		<div class="row">
			<div class="input-field col m3 s12">
          		<input id="protein_one" type="text" class="validate">
			</div>
			<div class="input-field col m3 s12">
          		<input id="produce_one" type="text" class="validate">
			</div>
			<div class="input-field col m3 s12">
          		<input id="dairy_one" type="text" class="validate">
			</div>
			<div class="input-field col m3 s12">
          		<input id="grains_one" type="text" class="validate">
			</div>
		</div>
		<div class="row">
			<div class="input-field col m3 s12">
          		<input id="protein_two" type="text" class="validate">
			</div>
			<div class="input-field col m3 s12">
          		<input id="produce_two" type="text" class="validate">
			</div>
			<div class="input-field col m3 s12">
          		<input id="dairy_two" type="text" class="validate">
			</div>
			<div class="input-field col m3 s12">
          		<input id="grains_two" type="text" class="validate">
			</div>
		</div>
		<div class="row">
			<div class="input-field col m3 s12">
          		<input id="protein_three" type="text" class="validate">
			</div>
			<div class="input-field col m3 s12">
          		<input id="produce_three" type="text" class="validate">
			</div>
			<div class="input-field col m3 s12">
          		<input id="dairy_three" type="text" class="validate">
			</div>
			<div class="input-field col m3 s12">
          		<input id="grains_three" type="text" class="validate">
			</div>
		</div>
		<div class="row">
			<div class="col m12 s12">
				<button id="pantry-submit" class="enterButton firebrick btn-large" type="submit" href="#">Enter</button>
			</div>
		</div>

 --}}

	</div>

</div>

{{!-- RECIPES CONTENT --}}
<div class="section">
	<div class="container center pantry-content ">
		<h1 class="pantry-content-h1">Lets Cook!</h1>
		<hr>
		<div class="row recipe-container">
			
			
		</div>	
	</div>	
</div>

{{!--           var currentURL = window.location.origin;
          $.post(currentURL + "/api/eventsCreated", newEvent, function(data){

              


            console.log(data);
          }); //end POST  --}}

